.task-container {
    width: 60%;
    margin: 20px auto;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #888;
    padding: 10px 40px;
}

.task-section {
    font: italic bold 16px/30px Georgia, serif;
}

.task-btn-section {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.btn-task {
    border: none;
    width: 70px;
    height: 40px;
    cursor: pointer;
    font: italic bold 12px/30px Georgia, serif;
}

.btn-task:hover {
    background-color: gray;
}